#comment_wrapper {
width:100%;
font-size: 100%;
font-family: 'Open Sans', sans-serif;
font-weight: 300;
color: white
}
 
#comment_form_wrapper {
margin: 12px 12px 12px 12px;
padding: 12px 0px 12px 12px; /* Note 0px padding right */
background-color: #000000;
border: solid #FFCC66;
border-radius: 25px;
color: white
 
}
 
#comment_name{
padding: 4px 2px 4px 5px;
margin: 3px 0 3px 13px;
font-size: 100%;
font-family: 'Open Sans', sans-serif;
font-weight: 300;
color: black
}
 
#comment_email{
padding: 4px 2px 4px 5px;
margin: 3px 0 3px 15px;
font-size: 100%;
font-family: 'Open Sans', sans-serif;
font-weight: 300;
color: black
}
 
#comment_web{
padding: 4px 2px 4px 5px;
margin: 3px;
font-size: 100%;
font-family: 'Open Sans', sans-serif;
font-weight: 300;
color: black
}
 
#comment_form textarea { /*this is the area where comments are entered*/
width: 93.4%;
background: white;
/*border: 4px solid #EEE;*/
border: 1px solid #eee;
/* -moz-border-radius: 5px;
border-radius: 5px;*/
padding: 10px;
margin-left: 5px;
font-size: 100%;
font-family: 'Open Sans', sans-serif;
font-weight: 300;
}
 
#comment_resp_err{
color: black;
font-size: 13px;
}
 
ul.comment {
width: 100%;
color: black;
/* margin: 12px 12px 12px 0px;
padding: 3px 3px 3px 3px;*/
}
 
ul.comment li { /*This is the actual comments that are displayed */
margin: 12px 12px 12px 12px;
padding: 12px 0px 12px 12px; /* Note 0px padding right */
list-style: none; /* no glyphs before a list item */
background-color: #FFCC66;
border: solid;
border-radius: 25px;
font: black;

}
 
ul.comment li span.commenter {
font-weight:bold ;
color:#000000;
}
 
ul.comment li span.comment_date {
color:#B0B0B0;
}
 
#comment_wrapper .button,
#comment_wrapper .reply_button {
background: none repeat scroll 0 0;
background-color: #B0B0B0;
position: relative;
right: 15px;
color: #FFFFFF;
float: right;
font-size: 100%;
font-family: 'Open Sans', sans-serif;
font-weight: 300;
margin: -10px 5px ;
padding: 3px 10px;
text-transform: uppercase;
text-decoration: none;
cursor: pointer;
border: 1px solid #000000;
}
#comment_wrapper #comment_submit {
float:none;
margin: 0px 5px;
background-color: #B0B0B0;
border: 1px solid #FFCC66

}
 
#comment_wrapper .button:hover,
#comment_wrapper .reply_button:hover {
background: none repeat scroll 0 0 #B0B0B0;
text-decoration: underline;
}
#cancel-comment-reply-link {
color: #666;
margin-left: 10px;
margin-right:10px;
text-decoration: none;
font-size: 100%;
font-family: 'Open Sans', sans-serif;
font-weight: 300;
float:right;
text-transform: uppercase;
}
 
#cancel-comment-reply-link:hover{
text-decoration: underline;
}